<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.cordovasmoke" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova HyperOS Smoke</name>
    <description>Smoke test para WebView y ciclo de vida en HyperOS</description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AndroidInsecureFileModeEnabled" value="false" />
</widget>
